{% extends 'templateApp/base.html' %}

{% block body %}
    
    {% comment %} {% for std in students %}
        <li>{{ std }} </li>
        <li>{{ std.first_name }} </li>
        <li>{{ std.last_name }}</li>
        <li>{{ std.number }}</li>
        <li><img src="" alt="picture"></li>

    {% endfor %} {% endcomment %}
    <li>{{ object.first_name }}</li>
    <li>{{ object.last_name }}</li>
    <li><img src="{{ Student.picture.url }}" alt="picture"></li>

    
    
        
{% endblock body %}
    